RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([^/]*)(/([^/\?]*))?$ index.php?_c=$1&_m=$3&%1 [NC,L]
